body    { font-family: verdana, arial, helvetica, sans-serif;
          margin-left: 2em;
          margin-right1: 5cm;
          width: 52em;
          font-size: 10pt;
        }
h1      { font-size: 18pt; color: #ffff33; background-color: #0033ff; padding: 0.5ex; margin-top: 0; margin-bottom: 1.5ex; }
h2      { font-size: 14pt; color: #0033cc; }
h3      { font-size: 10pt; color: #0033cc; margin-bottom: 0 }
p       { font-size: 10pt; }